{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrahead %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>
<!-- 차트를 추가할 때 사용 -->
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main" class="p-4">
    <h4>주문 현황</h4>
    <canvas id="orderChart"></canvas>
    <!-- 캔버스는 차트를 그릴 공간 -->
    <h5>달러 환율: {{ exchange }}</h5>

</div>
<script>
    var ctx = document.getElementById('orderChart');
    // 캔버스 안에 그려질 orderChart를 만들거임
    var labels = [];
    var data = [];
    {% for key,value in orders.items %}
        labels.push('{{ key }}');
        data.push({{ value }});
    {% endfor %}
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets:[{
                label: '주문건수',
                data:data,
                borderWidth: 1,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 0.2)'
            }]
        },
        options: {
            scales:{
                yAxes:[{
                    ticks:{
                        beginAtZero: true,
                        stepSize: 1
                        // 0부터 시작하고 눈금 단위는 1의 단위
                    }
                }]
            }
        }
    });
    // Chart.js cdn을 위에서 가져왔기 때문에 인스턴스 차트를 생성할 수 있다.

</script>

{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% translate 'Recent actions' %}</h2>
        <h3>{% translate 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% translate 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% translate 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
